<div class="container py-5">
    <h1>Confirm</h1>
    <div class="alert alert-warning">
        Publish with the following contents?
    </div>
    <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
        <%= form.hidden_field :content %>
        <li class="post d-flex p-3  mb-4 border rounded">
            <div><%= @post.content %></div>
        </li>
        <div class="actions d-flex justify-content-between">
            
            <%= form.submit "Return", name: 'back', class: 'btn btn-light' %>

            
                <button type="submit" class="btn btn-info">
                    <i class="bi bi-check-lg"></i> Publish
                </button>
          
            
        </div>
    <% end %>

</div>