<div class="container">
    <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>

    <h1>Posts</h1>
    <div class="mb-4">
        <%= render 'form', post: @post %>
    </div>
    <ul class="posts list-unstyled p-0 ">
        <% @posts.order(created_at: :desc).each do |post| %>
            <li class="post d-flex p-3  py-4">
                <%= image_tag 'https://www.gravatar.com/avatar/HASH', size: "48x48", alt: "Profile picture", :class => "me-3" %>
                <div ><%= post.content %></div>
            </li>
        <% end %>
    </ul>

</div>

