html,body{
    height: 100vh;
}
.container{
    max-width: 500px;
}

.post{
    .actions{
        transform: translateY(20px);
        opacity: 0;
        transition: all 0.25s ease-in-out;
        display: none;
    }
    &:hover .actions{
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }
}