<nav class="navbar navbar-light bg-light fixed-bottom">
  <div class="container justify-content-center">

    <span class="navbar-text">
        All right reserved. Design by <a href="https://github.com/tigamadou" target="_blank">@tigamadou</a>
      </span>
  </div>
</nav>